html {
  height: 100%
}

body {
  height: 100%;
  font-family: 'Poiret One', cursive;
}


.title-bar{
  height: 5rem;
  width: 100%;
  display: flex;
  align-items: flex-end;
  -webkit-text-stroke: .5px black;
  box-shadow: 1px 0px 26px rgb(255 174 82);
  background-image: linear-gradient(to bottom, #630fbb, #9a4259);
  position: relative;
  mix-blend-mode: screen;
}

.vibe-text{
  font-size:2rem;
  padding: 0 0 0 .3rem;
}

.cruise-text{
  font-size: 2rem;
  margin-left: 1rem;
  text-shadow: 3px 4px 4px #930277;
  -webkit-text-stroke: .5px black;
}

.top-text{
  font-size: 2em;
  height: 3rem;
  background-color: #670b5c;
  padding: .5rem 0 0 .3rem;
}

main {
}

.grid-container {
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-row-gap: 15px;
  grid-column-gap: 0px;
  background-color: #670b5c;
}

.box {
  margin: 0 auto;
  height: 100%;
  width: 24vw;
  text-align: center;
  box-shadow: 4px 3px 15px #04c4ca;
  background-color: #b18dd2;
}

.box-header{

}

.box-header-img{
  height: 100%;
  width: 100%;
}
.partner{
  text-align:left;
  width: 10em;
  font-size: 16px;
  padding: 0 0 0 0.4rem;
}

.attachments{
  font-size: 13px;
  text-align: left;
  padding: .5rem 0 0 0;
  padding: 0 0 0 0.4rem;
}

.number{
  text-align: left;
  font-size:24px;
  padding:.3rem 0 .1rem .4rem;
  text-shadow: 3px 1px 5px cyan;
}

.date{
  font-size: 12px;
  text-align: left;
  margin: 0 0 0.4rem .4rem;

}
.url-container{
  max-width: 100%;
  margin: 0px 5.5% 0 3.5%;
}
.url{
  background-color: #ca9c044f;
  font-size: 14px;
  height: 2.3rem;  
  word-wrap: break-word;
  margin: 0 .5vw 0 0.5vw;
}

 .playlist{
  font-size: 15px;
  text-align:left;
  margin: 0.1rem 0 0 0.4rem;
 }
 
 .partner,
 .date,
 .url,
 .playlist,
 .attachments,
 .number{
  font-family:'Open Sans', bold;
  height: 100%;
  width: 100%;
 }


 @media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
 }