html {
  height: 100%
}

body {
  height: 100%;
  font-family: 'Poiret One', cursive;
  background-color: #670b5c
}


.title-bar{
  height: 10vh;
  width: 100%;
  display: flex;
  align-items: flex-end;
  box-shadow: 1px 0px 26px rgb(255 174 82);
  background-image: linear-gradient(to bottom, #630fbb, #9a4259);
  position: relative;
}

.vibe-text{
  font-size:2em;
  padding: 0 0 0 1rem;
  color: #ffffff;
  text-shadow: 6px 2px 5px #ffdf01;
}

.cruise-text{
  font-size: 2rem;
  margin-left: 1rem;
  text-shadow: 3px 4px 4px #006f4b;
  color: mediumspringgreen;
}

.top-text{
  font-size: 2.5em;
  height: 10vh;
  background-color: #670b5c;
  color: #ffffff;
  text-shadow: 6px 2px 5px #ffdf01;
  padding: .5rem 0 0 .7rem;
}

main {
}


.grid-container {
  height: 100%;
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: auto;
  grid-row-gap: 15px;
  grid-column-gap: 0px;
  background-color: #670b5c;
}



.box {
  margin: auto;
  height: 100%;
  width: 75%;
  text-align: center;
  box-shadow: 6px 4px 10px #030005;
  background-color: #b18dd2;
}

.box-header {
  height:45%
}

.box-header-img{
  height: 100%;
  width: 100%;
}

.partner{
  text-align:left;
  font-size: 16px;
  padding: 5% 0 0 0.4rem;
}

.attachments{
  font-size: 13px;
  text-align: left;
}

.number{
  text-align: left;
  font-size:24px;
  /* padding:.3rem 0 .1rem .4rem; */
  text-shadow: 3px 1px 5px cyan;
}

.date{
  font-size: 12px;
  text-align: left;
  margin: 0 0 0.4rem .4rem;
}

.url-container{
  max-width: 100%;
  margin: 0px 5.5% 0 3.5%;
}
.url{
  background-color: #ca9c044f;
  font-size: 14px;
  height: 2.3rem;  
  word-wrap: break-word;
  margin: 0 .5vw 0 0.5vw;
}


 .playlist{
  font-size: 15px;
  text-align:left;
 }

 
 .partner,
 .date,
 .url,
 .playlist,
 .attachments,
 .number{
  font-family:'Open Sans', bold;
  box-sizing: border-box;
  word-break: break-word;
 }

 .playlist,
 .attachments,
 .number{
   padding: 0 0 0 3%;

 }

 @media only screen and (min-device-width : 320px) and (max-device-width : 480px){

 } 